/* Google import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    color: #1c1d1e;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #FECC00;
}

h1 {
    color: #1c1d1e;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 6vw 0 4vw 0;
    font-size: 1.8rem;
}

h2 {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    margin: 1rem 0 1rem 0;
}

h3 {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
}

p {
    color: #ffffff;
    line-height: 1.4rem;
}

.hide {
    display: none;
}

#game-area {
    background-color: #006AA7;
    position: relative;
    width: 85%;
    height: 74vh;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 10px;
}

#name {
    color: #ffffff;
}

#enter-name {
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 1rem;
}

.btn {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 11rem;
    height: 2rem;
    border: 1px solid #ffffff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#instructions-content {
    background-color: #006AA7;
}

#instructions-content>p {
    text-align: left;
    margin: 1rem;
}

#instructions {
    margin-top: 1rem;
}

#play {
    margin: 1rem 0 1rem 0;
}

i.fa-solid.fa-check {
    color: #63d01b;
}

i.fa-solid.fa-xmark {
    color: red;
}

i.fa-solid.fa-down-long {
    color: #ffffff;
    margin: 1rem 0 1rem 0;
}