/* Google import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #FECC00;
    font-size: 105%;
    line-height: 1.4rem;
}

header a {
    text-decoration: none;
}

h1 {
    color: #1c1d1e;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 6vw 0 4vw 0;
    font-size: 1.8rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
    margin: 0.5rem 0 0.5rem 0;
    line-height: 1.6rem;
}

h3 {
    font-family: "Libre Baskerville", serif;
}

p {
    line-height: 1.4rem;
}

/* Hide or add content not visible all the time */
.hide {
    display: none;
}

.visible {
    display: block;
}    

/* Game area*/

#game-area,
#questions-area,
#resume,
#error-area {
    background-color: #006AA7;
    position: relative;
    width: 85%;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgb(65, 76, 79);
}


#enter-name {
    width: 11rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 1rem;
    font-size: 100%;
}

.btn {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 11rem;
    height: 2.5rem;
    border: 1px solid #ffffff;
    font-size: 100%;
}

.btn-ok {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 5rem;
    height: 2.5rem;
    border: 1px solid #ffffff;
    margin-bottom: 1rem;
    font-size: 100%;
}

/*Style modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5rem;
    width: 80%;
    height: auto;
    overflow: auto;
    background-color: #FECC00;
    border-color: #000000;
    border-radius: 10px;
    border: #000000 1px solid;
    margin: 10%;
}

.modal-ok {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5rem;
    width: 60%;
    height: auto;
    overflow: auto;
    background-color: #FECC00;
    border-color: #000000;
    border-radius: 10px;
    border: #000000 1px solid;
    margin: 10%;
}

/* Instructions modal*/
.close {
    font-size: 2rem;
    margin-top: .5rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#instructions-content {
    color: #000000;
}

#instructions-content h3 {
    margin: 1rem 0 1rem 0;
}

#instructions-content li {
    text-align: left;
    line-height: 1.4rem;
    margin: 0 1rem 0 1.5rem;
}

#instructions-content p:last-of-type {
    text-align: center;
}

#instructions {
    margin-top: 1rem;
}

/*Name input and answer modal*/
#alert-name-input,
#select-answer {
    color: #000000;
}

#alert-name-input p,
#select-answer p {
    margin: 1rem;
}

#play {
    margin: 1rem 0 1rem 0;
    font-size: 100%;
}

/* Quiz area */

#timer-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

i.fa-regular.fa-clock {
    margin-right: 0.5rem;
    color: #FECC00;
}

#timer {
    color: #FECC00;
}

.answers {
    background-color: #FECC00;
    border-radius: 10px;
    color: #000000;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    margin: 0.5rem auto;
    padding: 1rem;
    font-size: 105%;
    line-height: 1.4rem;
}

#questions {
    line-height: 1.4rem;
    font-size: 105%;
    margin-top: 0.5rem;
}

.option {
    line-height: 1.4rem;
}

#next {
    margin-top: 0.5rem;
    font-size: 100%;
}

#quit {
    margin: 1rem 0 1rem 0;
    font-size: 100%;
}

#play-again {
    margin-bottom: 1.4rem;
    font-size: 100%;
}

#times-up >p {
    color: #000000;
    margin: 1rem 0 1rem 0;
}

/* Score*/
.correctscore {
    color: #000000;
    margin-top: 0.5rem;
}

.incorrectscore {
    color: #000000;
    margin-bottom: 0.5rem;
}

i.fa-solid.fa-check {
    color: #63d01b;
}

i.fa-solid.fa-xmark {
    color: red;
}

i.fa-solid.fa-down-long {
    color: #ffffff;
    margin: 1rem 0 1rem 0;
}

/* Footer*/
footer {
    color: #000000;
    margin: 1.4rem 1rem 1rem 1rem;
    font-size: 90%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 404-page*/
#error-area p {
    text-decoration: none;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Instrucions*/
    #instructions-content p {
        margin: 0 4rem 0 4.5rem;
    }

    /* Answers */
    .answers {
        width: 80%;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {

    /* Game area */
    #game-area p {
        margin: 1rem 4rem 0 4rem;
    }

    /* Instructions*/
    #instructions-content p {
        margin: 0 9rem 0 9.5rem;
    }

    .answers {
        width: 66%;
    }
}