/* Google import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    color: #1c1d1e;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #FECC00;
}

h1 {
    color: #1c1d1e;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 6vw 0 4vw 0;
    font-size: 1.8rem;
}

h2 {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    margin: 1rem 0 1rem 0;
}

h3 {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
}

p {
    color: #ffffff;
    line-height: 1.4rem;
}

.hide {
    display: none;
}

/* Game area*/

#game-area,
#questions-area,
#resume {
    background-color: #006AA7;
    position: relative;
    width: 85%;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgb(65, 76, 79);
}

#enter-name {
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 1rem;
}

.btn {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 11rem;
    height: 2rem;
    border: 1px solid #ffffff;
}

.btn-ok {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 5rem;
    height: 2rem;
    border: 1px solid #ffffff;
    margin-bottom: 1rem;
}

/*Style modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5rem;
    width: 80%;
    height: auto;
    overflow: auto;
    background-color: #FECC00;
    border-color: #000000;
    border-radius: 10px;
    border: #000000 1px solid;
    margin: 10%;
}

/* Instructions modal*/
.close {
    font-size: 2rem;
    margin-top: .5rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#instructions-content {
    color: #000000;
}

#instructions-content h3 {
    margin: 1rem 0 1rem 0;
}

#instructions-content p {
    text-align: left;
    line-height: 1.4rem;
    margin: 0 1rem 0 1.5rem;
}

#instructions-content p:last-of-type {
    text-align: center;
}

#instructions {
    margin-top: 1rem;
}

#play {
    margin: 1rem 0 1rem 0;
}

/* Quiz area */
.answers {
    background-color: #FECC00;
    border-radius: 10px;
    color: #000000;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    margin: 0.5rem auto;
    padding: 1rem;
}

#questions {
    line-height: 1.4rem;
    font-size: 90%;
}

.option {
    line-height: 1.4rem;
}

#next {
    margin-top: 0.5rem;
}

#quit {
    margin: 1rem 0 1rem 0;
}

#play-again {
    margin-bottom: 1.4rem;
}

i.fa-solid.fa-check {
    color: #63d01b;
}

i.fa-solid.fa-xmark {
    color: red;
}

i.fa-solid.fa-down-long {
    color: #ffffff;
    margin: 1rem 0 1rem 0;
}